body{background-color: black;
    font-family: Arial, Helvetica, sans-serif; 
    color:blueviolet;border: 5px solid rgba(255, 252, 252, 0.654);}
.center{text-align: center;}
p{font-size: 60px;}
    body img{width: 1323px;
        height: 300,01px;}
        header img{width: 500px;
            height: 500px;
            border: px solid black;}
            p img{width: 400px;
            height: 156px; border: 10px solid rgba(255, 252, 252, 0.654);}
            nav img{width: 500px;
                height: 300px; border: 10px solid rgba(255, 252, 252, 0.654);}
             a{font-size: 30px; text-decoration: none;}
                main img{width: 500px;
                    height: 156px; border: 10px solid rgba(255, 252, 252, 0.654);}
                    o img{width: 400;
                        height: 350px; border: 10px solid rgba(255, 252, 252, 0.654);}
                        h1{font-size: 48px;}
                        u img{width: 400px;
                        height: 350px;}
                    
                
